.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: var(--primary);
    height: 56px;
    z-index: 1000;
}

.menu__ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.nav-item{
    color: #fff;
}

.menu__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.space {
    flex: 1;
}

.menu__title a{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.menu__title a {
    color: rgb(209, 219, 68);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
}

.menu__navigation-items a {
    color: white;
    text-decoration: none;
}

.menu__navigation-items ul {
    list-style: none;
    margin: 0 ;
    padding: 0;
    display: flex;
}

.menu__navigation-items li {
    padding: 0 0.5rem;
} 

.menu__navigation-items a:hover,
.menu__navigation-items a:active {
    color: #2f54fa;
}

@media (max-width: 768px) {
    .menu__navigation-items {
        display: none;
    }
    .menu__toggle-button{
        margin-left: auto;
    }
    .menu__ul{
        display: none;
    }
}

@media (min-width: 769px) {
    .menu__toggle-button {
        display: none;
    }
}