.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: var(--primary);
    height: 56px;
    z-index: 1000;
}

.menu__ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.nav-item{
    color: #fff;
}


 .nav-item li {
    padding: 0 0.5rem;
}  

.nav-item:hover,
.nav-item a:active {
    color: #fbff00;
} 

.menu__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.menu__title  {
    color: rgb(209, 219, 68);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

@media (max-width: 768px) {

    .menu__toggle-button{
        margin-left: auto;
    }
    .menu__ul{
        display: none;
    }
}

@media (min-width: 769px) {
    .menu__toggle-button {
        display: none;
    }
}